# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
.vs/
.vscode/
*.csproj.dotsettings
*.sln.dotsettings

# Rider files
.idea/

# Secrets
secrets.json
appsettings.Development.json

# Other
*.exe
*.dll
*.pdb
*.msi
*.msu
*.msp
*~